
.form-row{
   
    justify-content: baseline;
}

input{
    border: none;
    outline: none;
}


.container{
    border: 2px solid gray;
    margin-top: 10vh;
  
}
h1{
    
    text-decoration: underline;
}

p{
    font-weight: bold;
}

label{
    font-weight: bold;
}
